@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}
body{
    background: #1f242d;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:#1f242d;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navber a{
    display: inline-block;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
   
}
.navber a:hover,
.navber a.active{
    color: rgb(34, 243, 243);
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-img img{
    max-width: 450px;
    margin-right: -20px;
    border-radius: 50%;
    box-shadow: 0 0 20px #0ef;
    opacity: 0;
    animation: zoomin 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: rgb(100, 248, 248);
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;

}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background-color: rgb(236, 11, 49);
    
    box-shadow: 0 0 10px #0ef;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.btn:hover{
    background-color: rgb(236, 11, 49);
    color: antiquewhite;
    box-shadow: 0 0 10px #0ef;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomin{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    
    }
    50%{
        transform: translateY(-24px);
    
    }
    100%{
        transform: translateY(0);
    
    }
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
}
.about-img img{
   
    border-radius: 50%;
    box-shadow: 0 0 20px #0ef;
    opacity: 0;
    animation: zoomin 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    position: relative;
    top: 10mm;
    left: 5mm;
}
.about-content p{
    display: inline-block;
    width: 50%;
    border: 2px solid wheat;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px 0;
    box-shadow: 0 0 10px rgb(208, 255, 0);
    position: relative;
    left: 20mm;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.about-content h2{
    color: rgb(20, 207, 220);
    position: relative;
    bottom: 10mm;
    left: 30mm;
}
.skills__list{
    border: 2px solid white;
    position: relative;
    right: 50mm;
    height: 55mm;
    width: 40mm;
    padding: 12px 10px 0;
    box-shadow: 0 0 10px rgb(255, 0, 212);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.skills__item{
    margin: 15px 0 0;
    font-weight: bold;
    list-style: none;
}
.skills__content{
    position: relative;
    top: 10mm;
}
.skills__subtitle{
    color: #0ef;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    position: relative;
    bottom: 10mm;
    right: 45mm;
}
.bx{
    color: #0ef;

}
.fa-solid{
    color: #0ef;
}

#Education{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20mm 50mm 0;
}
#Education h1{
    display: flex;
    color: #0ef;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 50mm;
}
.box{
    margin: 15px 20px 0;
    border: 2px solid rgb(245, 244, 242);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 64);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
    animation-delay: calc(.2s * var(--i));
}
.box h2{
   padding-left: 50mm;
}
.box p{
    margin: 10px 20px;
    padding: 10px 10px 0;
    font-size: 16px;
}

meter::-webkit-meter-bar{
    background-color: rgb(241, 238, 238);
    
}
meter::-webkit-meter-optimum-value{
    background: rgb(17, 236, 9);
}
.container-project{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100vh;
 position: relative;
 top: 10mm;
}
.project-img{
    margin: 0 10px 0px;
    width: 44.7%;
}
.project-img p{
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px 0;
}
#project h1{
    color: #0ef;
    position: relative;
    top: 30mm;
    padding-left: 150mm;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgb(255, 0, 157);
}
.project-img h2{
    margin: 10px 0 ;
    padding-left: 20mm;
    color: lawngreen;
}
#contact{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-box{
    margin: 20px 100px;
}
.footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(3, 0, 0);
     
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-box h1{
    color: #0ef;
    position: relative;
    bottom: 40mm;
}
.contact-box p{
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.contact-box input{
    width: 80mm;
    height: 10mm;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424344;
}
#textarea{
    display: flex;
    width: 80mm;
    height: 30mm;
}
.button input{
    color: rgb(253, 253, 253);
    width: 40mm;
    position: relative;
    left: 15mm;
    background-color: crimson;
    outline: none;
    border-radius: 20px;
   
}
@media screen and (max-width:965px){
    body{
        overflow-x: hidden;
    }
    .logo{
        font-size: 12px;
        position: relative;
        right: 15px;
    }
    .navber a{
        position: relative;
        right: 10mm;
        font-size: 11px;
        padding: 0px;
        margin: 10px;    
    }
    .home-content h1{
        font-size: 20px;
    }
    .home-content h3{
        font-size: 15px;
    }
    .home-img img{
        width: 50mm;
        height: 50mm;
        position: relative;
        bottom: 15mm;
    }
    .social-media a{
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
   .about-img img{
    width: 50mm;
    height: 50mm;
    position: relative;
   
    left: 17mm;
    }
    .about-content p{
        font-size: 12px;
        height: 50mm;
        width: 60mm;
        position: relative;
        bottom: 20mm;
    }
    .about-content h2{
        font-size: 15px;
        position: relative;
        bottom: 25mm;
    }
    .skills__list{
        width: 30mm;
        height: 45mm;
        font-size: small;
        margin: 15px;
        padding: 0;
        position: relative;
        top: 30mm;
    }
    .skills__subtitle{
        position: relative;
        top: 31mm;
    }
    .heading{
        position: relative;
        right: 50mm;
    }
    .box{
        width: 100mm;
        height: 37mm;
        position: relative;
        right: 40mm;
    }
    .box h2{
        font-size: 16px;
        position: relative;
        right: 40mm;
        margin-bottom: 2px;
        width: 150mm;
        margin: 5px;
    }
    .box p{
        font-size: 15px;
        margin: 12px;
        padding: 0;
    }
    .project-img img{
        width: 60mm;
        height: 30mm;
    }
    .project-img p{
        font-size: 15px;
    }
    .project-img h2{
        font-size: 15px;
    }
    .ther{
        position: relative;
        right: 10mm;
        width: 100%;
    }
    #project h1{
        position: relative;
        right: 110mm;
        font-size: 20px;
        width: 200mm;
        
    }
    .contact-box h1{
       font-size: 25px;
       position: relative;
       left: 40mm;
       top: 1px;
        
    }
    .contact-box p{
        position: relative;
        left: 40mm;
        font-size: 15px;
        width: 89mm;
    }
    .contact-box input{
        width: 50mm;
        height: 7mm;
    }
    .contact-box1 input{
        position: relative;
        right: 37mm;
    }
    #textarea{
        width: 50mm;
    }
    .button input{
        position: relative;
        width: 20mm;

    }  
    .button{
        position: relative;
        right: 40mm;
    }  
    

}